<div id="content2">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="home">
            <h2>Bienvenue sur le dashboard, ceci est une page d'explication afin de mieux comprendre le fonctionnement du site.</h2>
            <div id="para1">
                <p>
                    Tout d'abord vous etes sur la page d'acceuil quand vous recherger le site cest ici que vous arriverez, vous avez le menu disponible sur la gauche que vous pouvez rétracter avec le bouton associé.
                    <br>
                    Ce menu contient les menus déroulants corrspondants aux catégories de données surt la collectivitée.
                    Ces menus déroulants contiennent les différents liens vers les tableaux correspondant a la nomenclature du site de l'Insee, l'ors d'un clic sur l'un des lien le tableau va etre généré ainsi que la possibilite d'afficher un graphique si disponible avec l'appartion d'un bouton chart en haut de page.
                </p>
            </div>
            <div id="para2">
                <p>
                    lorsque vous cliquer sur ce bouton pour générer un graphique il apparait en dessous du tableau, un menu en haut a gauche du tableau vous propose d'extraire les données sous differents formats pdf , svg ect.
                </p>
            </div>
           
        </div>
    </nav>

    
</div>